body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./img/petfinderbackground.jpg");
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.panel-body {
  padding: 0px;
  height: 75px;
}

h3 {
  font-size: 30px !important;
}
 img {
   height: 250px;
 }
