.card {
    height: 300px;
    width: 300px;
    margin: 20px 50px 20px 50px;
    background-size: cover;
    border-width: 5px;
    border-style: solid;
    border-color: #8d8d8d;
    display: inline-block;
    overflow: scroll;
    background: lightgrey;
  
 }
 
 /* .card:nth-child(3n + 3) {
    margin-right: 0;
 } */
 
 
 
 .card:hover {
    cursor: pointer;
    border-color: #030303;
 }
 
 .img-container {
    width: 100%;
    height: 30%;
   
 }
 
 .card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  
  }
 
  img {
    vertical-align: middle;
    width: 100%;

  }
